<!DOCTYPE html>
<html>
<head>

	<title>Aveda Portland</title>

</head>
<body>
	<h1>Aveda Portland</h1>
	<h3>{{ stylist.getName }}</h3>
	<ul>
	{% for client in clients %}
		<li>{{ client.getName }}</li>
	<a href="/stylist/{{ stylist.getId }}/view/{{ client.getId }}"><button>View</button></a>
	<a href="/stylist/{{ stylist.getId }}/edit/{{ client.getId }}"><button>Edit</button></a>
	<form action="/stylist/{{ stylist.getId }}/delete/{{ client.getId }}" method="post">
		<input name="_method" type="hidden" value="delete">
		<button type="submit">Delete</button>
	</form>
	{% endfor %}
	</ul>

	<form action="/stylist/{{ stylist.getId }}" method="post">
		<label for="name">Client name:</label>
		<input name="name" type="text">
		<button type="submit">Add Client</button>
 </form>

</body>
</html>
