<!DOCTYPE html>
<html>
<head>

	<title>Aveda Portland</title>

</head>
<body>
	<h1>Aveda Portland</h1>
	<h3>{{ client.getName }}</h3>

	<a href="/stylist/{{ stylist.getId }}/edit/{{ client.getId }}"><button>Edit</button></a>
	<a href="/stylist/{{ stylist.getId }}/delete/{{ client.getId }}"><button>Delete</button></a>
	<a href="/stylist/{{ stylist.getId }}"><button>Back to {{ stylist.getName }}</button></a>

</body>
</html>
